<style type="text/css">
  .header-tab{
    position: relative;
    padding:0px 90px;
    text-align: center;
    line-height: 44px;
    background: #efeff0;
    border-bottom: 1px solid #ddd;
  }
  .header-tab a {
    display: block;
  }
  .header-tab i {
    bottom: -1px;
  }
  .header-tab i::before{
    content: '';
    display: block;
    height: 2px;
    width: 34px;
    margin: 0 auto;
    background: #777;
  }
  .header-tab .header-user {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01j041d5DOT/boUg2EJlVetOMC.png) no-repeat center;
    background-size: 16px;
  }
  .header-checkin{
      position: absolute;
      left: 0px;
      top:0px;
      width: 44px;
      height: 44px;
      background: url(http://image.read.duokan.com/mfsv2/download/s010/p01O5K5DzsAZ/2ZODzjwkRQh7l3.png) no-repeat center;
      background-size: 22px;
  }
  .Swipe-tab {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .Swipe-tab a{
    float: left;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .Swipe-tab i {
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-tansfrom .3s ease-out;
  }
  .Swipe-tab_2 a{
    width: 50%;
  }
  .Swipe-tab__on {
    color: #ff6600;
  }
  .f-cb:after{
    clear: both;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
</style>
  <div class="header-tab" id="app-header">
    <div class="Swipe-tab Swipe-tab_2 f-cb">
      <a href="javascript:" class="Swipe-tab__on">书城</a>
      <a href="javascript:">书架</a>
      <i style="width:50%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px)"></i>
    </div>
    <em class="header-user"></em>
    <em class="header-checkin"></em>
  </div>